/* App.css */
body {
  font-family: 'Inter', sans-serif;
  background-image: url('/public/background.webp'); /* keep your original background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 25px;
  color: #ffffff;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 2rem;
  align-items: center;
}

.dashboard-section {
  margin-bottom: 2rem;
  text-align: left;
}

.dashboard-section h2 {
  color: #ffffff;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 0.5rem;
}

.card {
  background-color:#3d9251;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.control-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  border-top: 1px solid #ecf0f1;
}

.control-item:first-child {
  border-top: none;
}

.control-item label {
  font-weight: bold;
  color: #ffffff;
}

input[type='checkbox'] {
  transform: scale(1.2);
  cursor: pointer;
}